VITE_APP_NAME=Hospital Operations Portal
VITE_HOSPITAL_NAME=โรงพยาบาลนาหมื่น
VITE_APP_VERSION=0.1.0
VITE_APP_DEVELOPER=งานเทคโนโลยีสารสนเทศ
VITE_API_URL = https://localhost:5000
VITE_API_BASE_URL = https://localhost:5000
